In [2]:
! pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (1.2.1)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (4.6.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.3)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [12]:
import pandas_datareader as web
from datetime import date
from dateutil.relativedelta import relativedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
def get_dates(data_window):
    '''
    Returns the start date and end date for given number of years

    Parameters:
    data_window (int): number of years of past data

    Returns:
    start_date (datetime): start date
    end_date (datetime): today's date
    '''
    end_date = pd.to_datetime(date.today())
    start_date = pd.to_datetime(
        date.today() + relativedelta(years=-data_window))

    return start_date, end_date

In [14]:
data_window = 4  # look at last 4 years of data
start_date, end_date = get_dates(data_window)
stocks = ['SPY', 'AAPL', 'MSFT', 'AMZN', 'FB']  # list of stocks

In [15]:
# get stock data and store in CSV files
for stock in stocks:
    df = web.DataReader(stock, data_source='yahoo',
                        start=start_date, end=end_date)
    df.to_csv('../data/{}.csv'.format(stock))

In [16]:
# take a look at AAPL
df = pd.read_csv('../data/SPY.csv', index_col='Date', parse_dates=True)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-03-13,237.860001,237.240005,237.619995,237.809998,57256800.0,220.553299
2017-03-14,237.240005,236.190002,237.179993,236.899994,59880800.0,219.709335
2017-03-15,239.440002,237.289993,237.559998,238.949997,96081800.0,221.610596
2017-03-16,239.199997,238.100006,239.110001,238.479996,78344000.0,221.174667
2017-03-17,237.970001,237.029999,237.750000,237.029999,89002100.0,220.786240
...,...,...,...,...,...,...
2021-03-05,384.760010,372.640015,380.459991,383.630005,151959800.0,383.630005
2021-03-08,387.679993,381.420013,384.660004,381.720001,122957100.0,381.720001
2021-03-09,389.910004,385.309998,385.850006,387.170013,113457800.0,387.170013
2021-03-10,391.399994,388.170013,389.690002,389.579987,109660800.0,389.579987
2021-03-11,395.649994,391.739990,392.230011,393.529999,86246140.0,393.529999