In [2]:
! pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (1.2.1)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (4.6.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.3)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [1]:
import pandas_datareader as web
from datetime import date
from dateutil.relativedelta import relativedelta
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
def get_dates(data_window):
    '''
    Returns the start date and end date for given number of years

    Parameters:
    data_window (int): number of years of past data

    Returns:
    start_date (datetime): start date
    end_date (datetime): today's date
    '''
    end_date = pd.to_datetime(date.today())
    start_date = pd.to_datetime(
        date.today() + relativedelta(years=-data_window))

    return start_date, end_date

In [3]:
data_window = 4  # look at last 4 years of data
start_date, end_date = get_dates(data_window)
stocks = ['AAPL', 'MSFT', 'AMZN', 'FB']  # top 4 SP500 stocks

In [5]:
# get stock data and store in CSV files
for stock in stocks:
    df = web.DataReader(stock, data_source='yahoo',
                        start=start_date, end=end_date)
    df.to_csv('../data/{}.csv'.format(stock))

In [11]:
# take a look at AAPL
df = pd.read_csv('../data/AAPL.csv', index_col='Date', parse_dates=True)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-03-13,34.857498,34.705002,34.712502,34.799999,69686800.0,33.052044
2017-03-14,34.912498,34.709999,34.825001,34.747501,61236400.0,33.002182
2017-03-15,35.187500,34.757500,34.852501,35.115002,102767200.0,33.351227
2017-03-16,35.255001,35.064999,35.180000,35.172501,76928000.0,33.405842
2017-03-17,35.250000,34.972500,35.250000,34.997501,175540000.0,33.239635
...,...,...,...,...,...,...
2021-03-05,121.940002,117.570000,120.980003,121.419998,153590400.0,121.419998
2021-03-08,121.000000,116.209999,120.930000,116.360001,153918600.0,116.360001
2021-03-09,122.059998,118.790001,119.029999,121.089996,129159600.0,121.089996
2021-03-10,122.169998,119.449997,121.690002,119.980003,111760400.0,119.980003
2021-03-11,123.209999,121.260002,122.540001,121.970001,80328093.0,121.970001